.testimonial-section {
    padding: 30px 0;
    min-height: 550px;
}

.testimonial-section .title-container {
    text-align: center;

    font-size: 24px;
    font-weight: 700;
    line-height: 36px; /* 150% */
}

.testimonial-section .title-container p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; /* 150% */
}

.testimonial-section .card {
    padding: 40px 32px;
    max-width: 619px;
}

.testimonial-section button {
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 720px) {
    .testimonial-section {
        padding: 50px 0;
    }
}
